* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    transition: all 500ms ease;
}
body{
    text-align: center;
}
header {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Roboto, serif;
    font-size: 20px;
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
    box-shadow: 0 0 10px #454747;
    /*border: 2px solid #ff7a06;*/
    border-radius: 5px;
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container > div > div {
    position: relative;
}

.description-honey {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    height: 100%;
}

.miniBtn {
    width: 20px;
    border: 0;
    outline: none;
}

nav {
    width: 50%;
}
img {
    width: 70px;
}

.block img {
    width: 200px;
}

.logo, li p, .basket, .container > div div > input{
    cursor: pointer;
}

ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
li p {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

li p:hover {
    color: #ff7a06;
    border-bottom: 2px solid #5c5e5e;
}

.basket {
    position: relative;
}
.basket img{
    transform: scale(0.7);
}

#numberProduct {
    opacity: 0;
    font-size: 13px;
    color: white;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #c04c2e;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 5px;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    width: 200px;
    margin: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid #e8ebeb;
    border-radius:7px;
}

.block:hover{
    border-color: #ff7a06;
}

.horizontal {
    flex-direction: row;
}


.count-control {

    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.count-control input {
    height: 30px;
    width: 30px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 0;
    background-color: #e8ebeb;
    outline: none;
}

.count-control:hover input, .button:hover, .block:hover .button  {
    color: white;
    background-color: #ff7a06;
}

.button {
    background-color: #e8ebeb;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius:0 0 5px 5px;
    height: 30px;
    width: 100%;
}

#basket {
    display: none;
    justify-content: center;
}

#basket div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container > div h3, .container > div p {
    margin: 2px;
}