@media screen and (max-width: 360px) {
    * {
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: lighter;
        text-transform: uppercase;
        color: white;
    }

    body {
        background: url("../resources/background.jpg");
        display: flex;
        margin: 0;
    }

    #loginModule {
        width: 100%;
        color: #000;
        position: absolute;
        background: black;
        opacity: 0.5;
    }

    #module {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #loginForm {
        width: 80%;
        height: 85%;
    }

    #loginForm:before {
        display: none;
    }

    #loginForm p {
        color: black;
        margin: 0;
    }

    #logout {
        display: none !important;
    }

    #loginForm div {
        display: flex;
        flex-direction: column;
    }

    #loginForm input {
        min-height: 20px;
        color: #000;
        font-size: 15px;
        text-transform: none;
        margin: 10px;
    }

    #login p {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 15px;
        text-transform: none;
        color: #000;
    }

    #avatar {
        position: relative;
        min-width: 100px;
        min-height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
    }

    #button {
        position: relative;
        bottom: -10px;
    }

    /*--------Меню игры--------*/
    #labelImg {
        width: 100%;
        height: 0;
        background: url("../resources/label.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 82%;
    }

    .winner {
        font-size: inherit !important;
        text-wrap: normal;
    }

    #menuGame {
        width: 100%;
        margin-top: 10%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menuGame > div {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    #menuGame > div:last-child {
        display: none;
        font-size: 20px;
        font-weight: bold;
        flex-direction: column;
    }

    #menuGame p {
        font-size: 10px;
    }

    #menuGame img {
        width: 300px;
    }

    #menuGame .visible {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    #menuGame .hide {
        opacity: 0;
        visibility: hidden;
        transition-delay: 200ms;
    }

    #message {
        color: #a3d381;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms, visibility 200ms linear 100ms;
    }

    #placeSize {
        margin-top: 15px;
        text-transform: lowercase;
        text-align: center;
        border-left: 1px;
        border-right: 1px;
        border-top: 1px;
        background: transparent;
        outline: none;
    }

    #placeSize::-webkit-outer-spin-button,
    #placeSize::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    #placeSize::-webkit-input-placeholder {
        transition: color 200ms;
        color: white;
    }

    #placeSize:focus::-webkit-input-placeholder {
        color: #81ab74;
    }

    /*#placeSize::-ms-input-placeholder { color: white; }*/
    /*#placeSize::-ms-input-placeholder { color: white; }*/
    /*#placeSize::placeholder { color: white; }*/
    button {
        margin-top: 40px;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        border-radius: 4px;
        padding: 10px 20px;
        box-sizing: border-box;
        outline: none;
    }

    button:enabled:hover {
        background: linear-gradient(to top, white, #97dda1);
    }

    button:enabled:active {
        transition: transform, 300ms;
        transform: perspective(70px) rotateX(2deg) scaleX(0.99);
        background: linear-gradient(to bottom, white, #40dd69);
    }

    button:disabled {
        color: #cdd3c3;
        background: #1C7430;
    }

    button:enabled {
        transition: transform 300ms;
        transform: perspective(70px) rotateX(0) scaleX(1);
        color: #1C7430;
        background: #ececec;
    }

    #mainBlock {
        margin-top: 25px;
        display: none;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        box-shadow: none;
    }

    #tableBlock div {
        height: 28%;
        width: 20%;
    }

    #tableBlock td:last-child div {
        margin-right: 0;
    }

    #tableBlock img {
        display: block;
        opacity: 1;
        border-radius: 8px;
        width: 100%;
        box-shadow: black 0 1px 5px;
        transition: opacity 200ms 300ms ease, transform 300ms 300ms ease;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    #tableBlock div:hover {
        box-shadow: 0 0 25px black;
    }

    #tableBlock .hide {
        opacity: 0;
    }

    #tableBlock .flipBack {
        transform: rotateY(0deg);
    }

    #tableBlock .collapse {
        opacity: 0;
        visibility: hidden;
    }

    .hud {
        margin: 25px;
        display: flex;
        flex-direction: row;
    }

    .hud div:last-child {
        width: 150px;
        margin-left: auto;
    }

    #newGameBtn, #scoreLabel, #scoreLabel span {
        width: 125px;
        height: 25px;
        top: 0;
    }

    #newGameBtn {
        left: 0;
        border-radius: 0;
        border-bottom-right-radius: 5px;
    }

    #scoreLabel {
        right: 0;
    }

    #scoreLabel span {
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 5px black;
        padding: 5px;
    }

    #newGameBtn:before, #newGameBtn:after,
    #scoreLabel:after, #scoreLabel span:before,
    #scoreLabel span:after {
        display: none;
    }

    #scoreLabel p {
        padding-top: 0;
    }

    #stopWatch {
        left: calc(50% - 45px);
    }
}