*{
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
}
body {
    background: url("../resources/background.jpg");
}
#menu {
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

#menu > div {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#menu p {
    font-size: 10px;
}

#menu img {
    width: 300px;
}

#countImage {
    border-left: 1px ;
    border-right: 1px;
    border-top:1px;
    background:transparent;
}

button {
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    color: #1C7430;
    background: #ddeae0;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#mainBlock {
    display: none;
    width: 70%;
}

.gamePlace {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#tableBlock td{
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 8px;
    background: url('../resources/back.png') no-repeat;
    background-size: cover;
    height: 151px;
    width: 98px;
    opacity: 1;
    transition: opacity 250ms 200ms ease, transform 300ms 300ms ease, visibility 400ms 400ms ease;
    box-shadow: black 0 1px 5px;
    cursor: pointer;
    transform: rotateY(-180deg);
}
#tableBlock img  {
    display: block;
    opacity: 1;
    border-radius: 8px;
    height: 181px;
    width: 128px;
    box-shadow: black 0 1px 5px;
    transition: opacity 200ms 300ms ease, transform 300ms 300ms ease;


}

#tableBlock .hide {
    opacity: 0;
}

#tableBlock .flipBack {
    transform: rotateY(0deg);
}

#tableBlock .collapse {
    opacity: 0;
    visibility: hidden;
}

