body {
    margin: 0;
    font-family: "Open Sans";
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #bcbcbc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 50px;
    float: left;
    margin-right: 100px;
}

.logo img {
    width: 80px;
    height: 50px;
}

.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul li {
    list-style-type: none;
    margin: 0px 10px 0px 10px;
}

.menu ul li a {
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    color: #323232;
}

.searchBlock {
    margin-left: 50px;
    float: right;
}

.searchBlock form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBox {
    font-style: italic;
    border: 0px solid;
    width: 170px;
    height: 40px;
    padding: 0px 10px 0px 10px;
}

.searchBtn {
    position: absolute;
    float: left;
    right: 10px;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.searchBtn img {
    width: 100%;
    height: 100%;
}

.biografy {
    width: 70%;
}

.biografy h1 {
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    color: #323232;
}

.biografy p {
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    color: #323232;
}

@media (max-width: 850px) {
    .menu ul{
        padding: 0;
    }
    .menu ul li {
        list-style-type: none;
        margin: 0px 5px 0px 5px;
    }

    .menu ul li a{
        font-size: 10px;
    }

    .logo {
        width: 40px;
        height: 25px;
        position: absolute;
        margin-right: 50px;
        left: 20px;
    }

    .logo img {
        width: 40px;
        height: 25px;
    }

    .searchBlock {
        position: absolute;
        right: 20px;
    }
}
