<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="style/style.css" rel="stylesheet">
    <link href="style/style_mini.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script/data.js"></script>
<header class="d-flex justify-content-center align-items-center w-100 fixed-top">
    <nav id="navBar" class="w-100 navbar navbar-expand-lg navbar-light justify-content-sm-between">
        <button id="navbarToggler" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="logo"></div>
        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li v-for="navItem in navItems" class="nav-item">
                    <a class="nav-link" @click="scrollingTo(navItem.href)">{{navItem.title}}</a>
                </li>
            </ul>
        </div>
        <div id="basketBar" class="d-flex flex-column justify-contnent-center align-items-center" @click="openBasket">
            <!--<p class="p-0 m-0"></p>-->

            <img id="basketIcon" :src="basketSrc">
            <span class="quantity" :style="{display: visibleQuantity}">
                <p :style="{fontSize: sizeQuantity}">{{amount}}</p>
            </span>

        </div>
    </nav>
</header>
<main id="main">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner h-100">
            <slider-item v-for="slider in sliderList" :slide="slider" :key="slider.id"></slider-item>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-navicon"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section id="bestseller" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-block">Хит продаж</h2>
        <div class="bckg" id="bestsellerHoney"></div>
        <!--        <img src="resource/hotHoney2.png">-->
        <div id="hotBlock">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div id="hotItem"   >
                        <img src="resource/hot.JPG" @mousemove="move" class="card-img" :style="{top: top, left: left}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Мёд {{title}} {{count}}л.</h5>
                            <div>
                                <div class="crossOut"><span></span>
                                    <h4>{{oldPrice}} руб.</h4></div>
                                <h3>{{sale}} руб.</h3>
                            </div>
                            <a class="btn btn-primary" @click="orderAdd(id)">Добавить в корзину</a>
                            <p class="card-text">
                                <small class="text-muted">прочитать об этом виде мёда</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="catalog" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-block">Каталог</h2>
        <div id="catalogBlock" class="d-flex flex-row w-100 justify-content-center flex-wrap">
            <item v-for="catalog in honeyVueList" :cat="catalog" :products="catalog.products" :key="catalog.id"
                  @click="orderAdd"
                  v-on:up-down="upDownCount" v-on:slide-to="slideTo">
            </item>
        </div>
    </section>

    <section id="certificate" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-block">Сертификаты</h2>
        <div class="d-flex flex-row w-100 justify-content-center flex-wrap">
            <certificate-item v-for="certificate in certList" :certificate="certificate" :key="certificate.id"
                              v-on:load-viewer="loadViewer"></certificate-item>
        </div>
    </section>

    <section id="about" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-block">Прочее</h2>
    </section>
</main>
<div id="viewer" class="d-flex justify-content-center align-items-center w-100 h-100" v-if="isActive"
     @click="openViewer">
    <div class="card mb-3" style="width: 50rem;">
        <div class="row no-gutters">
            <div class="col-md-8 d-flex justify-content-center">
                <img :src="src" class="card-img-top" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Сертификат</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">
                        <small class="text-muted">{{date}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="basketForm" :style="styleObject">
    <span class="closeBtn" @click="openBasket"></span>
    <h4>Ваша корзина пока пуста</h4>
    <basket-item v-for="list in basketCatalog" :cat="list" v-bind:class="{basket: isActive}" :key="list.id"
                 v-on:up-down="upDownCount" v-on:remove="removeOrder"></basket-item>
    <p>Сумма заказа: {{amount}}</p>
</div>
<footer id="contact">
    <span id="btn-to-up" onclick=" window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });"></span>
</footer>

<!--<form id="form" method="POST">-->
<!--<input type="text" name="name" required="required"/>-->
<!--<input type="text" name="phone" required="required"/>-->
<!--<input type="submit" value="Заказать звонок"/>-->
<!--</form>-->
<!--<div id="qa"></div>-->

<script src="script/script.js"></script>
<script src="script/sendPost.js"></script>

<script src="script/vue.js"></script>
<script src="script/carouselBlock.js"></script>
<script src="script/catalogBlock.js"></script>
<script src="script/basketBlock.js"></script>
<script src="script/certificateBlock.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>