*{
    transition: all 0.2s ease-out;
    font-family: "Open Sans";
    font-weight: bold;
}

body {
    margin: 0 auto;
}

.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

header {
    background-image: url("../resource/headerWood.png");
    max-height: 10vh;
    min-height: 78px;
    border-bottom: 2px #dcdcdc solid;
}

#navBar {
    width: 70%;
    justify-content: space-between;
}

.logo {
    position: relative;
    max-width: 10.8vw;
    min-width: 160px;
    min-height: 93px;
    border: 2px solid #4e4c4c;
    background-image: url("../resource/logo.jpg");
    background-size: cover;
    box-shadow: 0 -20px 20px #5f5f5f;
}

li {
    list-style-type: none;
    margin: 0 20px 0 20px;
}

a {
    color: #ffab19;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    text-shadow: #4e4c4c 1px 1px 3px, #4e4c4c -1px -1px 3px,
    #4e4c4c -1px 1px 3px, #4e4c4c 1px -1px 3px;
}

a:hover {
    color: #555555;
    text-shadow: #ffab19 1px 1px 3px, #ffab19 -1px -1px 3px,
    #ffab19 -1px 1px 3px, #ffab19 1px -1px 3px;
}

.basket img {
    width: 50px;
}

.amount {
    width: 74px;
    margin: 10px;
    text-align: right;
    font-size: 14px;
    color: #4e4c4c;
}

.quantity {
    position: relative;
    top: 25px;
    left: -15px;
    width: 16px;
    height: 16px;
    background-color: #ffab19;
    border: 1px #4e4c4c solid;
    border-radius: 50%;
    color: #4e4c4c;
}

.quantity p {
    position: relative;
    top: -19px;
    left: 4px;
}

.nav-toggle {
    display: none;
}

section {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

#slider {
    box-shadow: 0 0 40px black inset;
    background-image: url("../resource/slider_1.png");
}

#contact {
    background-image: url("../resource/contact.png");
}
#hot {
    height: 500px;
}
#hot img {
    width: 100%;
}

#hotBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -500px;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: rgba(249, 249, 249, 0.70);
    box-shadow: 0 0 40px rgb(249, 249, 249);
    border-radius: 30px;

}

#hotBlock div{
    display: flex;
    flex-direction: row;
}

#hotBlock div h3{
    margin: 10px;
}

#hotBlock div h3:nth-child(2){
    font-weight: lighter;
}

#hotBlock div span{
    width: 100px;
    height: 2px;
    background-color: #4e4c4c;
    transform: rotateZ(15deg);
    position: absolute;
    top: 128px;
    left: 47px;
}

#hotBlock input {
    background-color: #ffab19;
    border-radius: 5px;
    border: 2px #4e4c4c solid;
    width: 85%;
    height: 35px;
    font-size: 15px;
}

#hotBlock p {
    font-size: 12px;
    font-weight: lighter;
}
main {
    background-image: url("../resource/bg.png");
}