@media screen and (max-width: 450px) {
    .carousel-item h5 {
        font-size: unset !important;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 40% !important;
    }
}

@media screen and (max-width: 500px) {

    #basketBar > p {
        display: none;
    }

    #basketIcon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 630px) {
    .carousel-caption p {
        width: 70% !important;
        font-size: x-small !important;
    }
}

@media screen and (max-width: 800px) {
    #logo {
        min-width: 110px !important;
        min-height: 60px !important;
    }
}

@media screen and (max-width: 992px) {
    #navbarSupportedContent {
        margin-top: 15px;
    }

    #logo {
        margin: auto;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        width: max-content;
        height: max-content;
    }

    #basketBar {
        position: absolute;
        top: 5px;
        right: 0;
    }

    #navBar li {
        border: 1px solid black;
        margin: 0 !important;
        border-radius: unset;
    }

    #navBar li:hover {
        background-color: #e6e6e6;
    }
}