@media screen and (max-width: 1080px) {
    #contentBlock > div {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    nav {
        width: 100%;
    }

    nav div:last-child {
        position: absolute;
        left: 85%;
    }

    nav ul {
        position: absolute;
        left: 5%;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        left: 5%;
        width: 20px;
        height: 25px;
    }

    .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
        content: "";
        display: block;
        position: relative;
        height: 2px;
        width: 100%;
        background-color: #A7A7A7;
        transition: 1s;
    }

    .nav-toggle span {
        top: 50%;
    }

    .nav-toggle span:before {
        top: -7px;
    }

    .nav-toggle span:after {
        top: 5px;
    }

    .nav-toggle:hover span, .nav-toggle:hover span:before, .nav-toggle:hover span:after {
        background-color: #eb942a;
        transition: 1s;
    }

    nav ul li {
        display: none;
    }
}