html {
    background-color: #eb942a;
}
body {
    height: 1080px;
    background-image: url("../resource/hex.png");
    background-size: 200px;
    background-repeat: repeat;
}
*{
    color: rgba(0, 0, 0, 0.69);
    font-family: "Open Sans";
    font-weight: bold;
    transition: 0.5s;
}

#navBar {
    background-color: #efefef;
    height: 75px;
    width: 100%;
}

nav, nav ul{
    display: contents;
    margin: 0;
    padding: 0;
}
nav ul li {
    text-align: center;
    width: 150px;
    list-style-type: none;
}
nav img {
    height: 100%;
}

nav a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: transparent solid 2px;
}

nav a:hover {
    color: #eb942a;
    border-bottom: 2px solid #A7A7A7;
}

/*nav a:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: unset;
}*/

.logo {
    width: 50px;
    height: 50px;

}

.nav-toggle {
    display: none;
}

.counter {
    display: block;
    position: relative;
    left: 15px;
    top: -15px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #A7A7A7;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.basket{
    width: 25px;
    height: 25px;
}

.block-element {
    padding-top: 50px;
}

.block-element h1 {
    background-color: black;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.block-element > div {
    background-color: #efefef;
    box-shadow: 0 0 10px #292929;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
}

.container {
    border-top: 1px solid #A7A7A7;
}

#descriptionBlock {
    padding: 10px;
    width: 60%;
}
#licenseBlock {
    border-left: 1px solid #A7A7A7;
    width: 40%;
}

#licenseBlock > div {
    flex-wrap: wrap;
}

#licenseBlock li {
    position: relative;
}

#licenseBlock img{
    width: 100%;
}

.licenseItem {
    width: 100%;
    height: 100%;
}

.minimal {
    width: 150px;
    margin: 5px;
}

#formViewer {
    position: absolute;
    height: 800px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8)!important;
    width: 100%!important;
}

#formViewer img{
    height: 80%;
}

#catalogBlock > div {
    flex-wrap: wrap;
}

.flex-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#containerBlockCatalog {
    flex-wrap: wrap;
}

.catalogItem {
    margin: 15px;
}

.catalogItem > img{
    width: 200px;
}

