@media screen and (max-width: 550px) {

    #about-me {
        height: 550px;
        border-radius: 0 0 10% 10%;
    }
    .about-block {
        width: 200px;
        height: 200px;
    }
    #myPhoto {
        min-height: 200px;
    }
    #myName {
        font-size: 3vh;
    }
    #myDescription p, #myDescription h1 {
        font-size: 15px;
    }
    .downArrow {
        top: 610px;
    }
}