*{
    /*background-color: #323232;*/
    font-family: 'Open Sans';
    color: white;
}

body {
    margin: 0;
}

header, header * {
    background-color: transparent;
}

header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color,height 200ms ease;
}

.header-fixed {
    height: 80px;
    position: fixed;
    background-color: rgba(48, 48, 48, 0.9);
    top: 0;
    left: 0;
}

.header-fixed ul{
    margin: 0;
    box-shadow: none;
    background: transparent;
}
header ul {
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
    margin: 80px 0 0 0;
    background-color: rgba(48, 48, 48, 0.9);
    box-shadow: 0 0 15px rgba(153, 153, 153, 0.45);
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style-type: none;
}

.linkMenu {
    min-width: 50px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color, color 200ms ease;
}

.linkMenu:hover {
    color: #ff7a06;
    border-bottom: 2px solid #888888;
}

#main {
    width: 100%;
}

#main span {
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake .7s linear alternate infinite;
}

#about-me {
    width: 100%;
    height: 700px;
    margin-bottom: 70px;
    background: url("../source/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 25px solid #ff7a06;
    border-radius: 0 0 30% 30%;
}

#about-me > span, #about-me > span:before, #about-me > span:after {
    position: absolute;
    display: block;
    content: '';
}

#about-me > span {
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 30px;
    top: calc(100% + 45px);
    left: calc(50% - 30px);
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake .7s linear alternate infinite;
}

#about-me > span:before, #about-me > span:after {
    top: calc(100% - 20px);
    width: 30px;
    height: 5px;
    background: #3c3c3c;
    border-radius: 3px 3px 0 0;
}

#about-me > span:before {
    transform: rotateZ(-30deg);
    left: 27px;
}

#about-me > span:after {
    transform: rotateZ(30deg);
    right: 27px;
}

@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes shake {
    100% {
        transform: translateY(-10px);
    }
}

.container {
    width: 100%;
    height: 500px;
}
