<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="style/style.css" rel="stylesheet">
    <!--<link href="style/mobileStyle.css" rel="stylesheet">-->
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script/script.js"></script>
<script src="script/data.js"></script>
<header class="flex-display">
    <nav id="navBar" class="flex-display row">
        <div id="logo"></div>
        <ul class="flex-display row">
            <li v-for="navItem in navItems">
                <a @click="scrollingTo(navItem.href)">{{navItem.title}}</a>
            </li>
        </ul>
        <div class="flex-display">
            <p class="amount">{{amount}}</p>
            <img id="basketIco" :src="basketSrc">
            <span class="quantity" :style="{visibility: visibleQuantity}">
                <p :style="{fontSize: sizeQuantity, top: topQuantity, left: leftQuantity}">{{quantity}}</p>
            </span>
        </div>
        <div class="nav-toggle"><span></span></div>
    </nav>
</header>
<main id="main">
    <section id="slider">
        <!--<img src="resource/slider_1.png">-->
        <!--<div style="width: 100%; height:500px; background-color: #1c1c1c"></div>-->
    </section>
    <section id="contactBlock">
        <!--<div style="width: 100%; height:300px; background-color: #4a4a4a"></div>-->
        <!--<img src="resource/contact.png">-->
    </section>
    <section id="bestseller">
        <h2>Хит продаж</h2>
        <div class="bckg" id="bestsellerHoney"></div>
<!--        <img src="resource/hotHoney2.png">-->
        <div id="hotBlock">
            <h3>Мёд {{title}} {{count}}л.</h3>
            <div>
                <div><span></span><h3>{{oldPrice}} руб.</h3></div>
                <h3>{{sale}} руб.</h3>
            </div>
            <input class="btn" type="button" value="Добавить в корзину" @click="addedQuantity">
            <p>прочитать об этом виде мёда</p>
        </div>
    </section>
    <section id="catalog">
        <h2>Каталог</h2>
        <div id="catalogBlock">
            <item v-for="catalog in honeyVueList" :cat="catalog" :key="catalog.id" @click="orderAdd(catalog.id)"></item>
        </div>
    </section>
    <section id="certificate"></section>
</main>
<footer id="contact">
    <span id="btn-to-up" onclick="scrollingTo('window',0)"></span>
</footer>
<script src="script/vue.js"></script>
</body>
</html>