* {
    transition: all 1s ease;
}

body {
    background-color: #1c1c1c;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/***********Background***********/
.background {
    width: 200%;
    position: absolute;
    left: -200px;
    top: -200px;
    opacity: 0.6;
    transition: transform 1s ease-out;
    background: radial-gradient(farthest-side, transparent, black);
}

#vignette-background {
    z-index: 1;
    top: -50vh;
    left: 0;
    height: 200vh;
    width: 100vw;
}

#network-background {
    height: 200vh;
}

.black {
    background: url("../../Resume/source/back 1.png");
    background-repeat: repeat;
    background-size: 100px;
}

.white {
    background: url("../../Resume/source/back 2.png");
    background-repeat: repeat;
    background-size: 100px;
}
/*******************************/

/**********Content**************/
main {
    z-index: 2;
}
.activ {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: transparent;
}

.content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start;

}
.content p{
    margin: 0;
    position: inherit;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 50px;
    color: white;
}
/*.content:nth-child(2n+1) p{*/
    /*color: rgb(255, 255, 255);*/
/*}*/
/*******************************/

/**********Nav-menu*************/
.control {
    z-index: 3;
}
#navig{
    display: none;
    opacity: 0.8;
    width: 150px;
    height: 150px;
    position: absolute;
    flex-wrap: wrap;
    background: #3e4040;
    border-radius: 50%;
    box-shadow: 0 0 15px greenyellow;
}

#navig:after {
    z-index: 5;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    border: 2px solid #888888;
    background: #3e4040;
}
#navig span{
    border: 1px solid #888888;
    width: calc(50% - 2px);
    height: calc(50% - 2px);
}
#navig span:nth-child(1){
    background: url("../source/home.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 100% 0 0 0;
}
#navig span:nth-child(2){
    border-radius: 0 100% 0 0;
}
#navig span:nth-child(3){
    border-radius: 0 0 0 100%;
}
#navig span:nth-child(4){
    border-radius: 0 0 100% 0;
}

#navig span:hover{
    background-color: #5c5e5e;
    transform: translateX(-5px) translateY(-5px) scale(1.1);
    transition: all 500ms ease;
    z-index: 4;
}
#wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    perspective: none;
}
#wrapper > span {
    position: absolute;
    opacity: 0.4;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(0.8);
    background: transparent;
    border: 1px solid white;
    z-index: 4;
}

#wrapper > span:before, #wrapper > span:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    top: 6px;
    left: 20px;
    transform: rotateZ(-45deg);
    background: #40dd69;
    transition: top 1s, left 1s, transform 1s ease;
}
#wrapper > span:after {
    top: 17px;
    left: 20px;
    transform: rotateZ(45deg);
}



ul {
    opacity: 0.4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul:hover {
    opacity: 1;
    transform:  translateX(10px);
}

li {
    position: relative;
    height: 100%;
    width: 1px;
    cursor: pointer;
    background-color: #ffffff;
    /*border-right: 1px solid white;*/
    margin-top: 9px;
    margin-bottom: 9px;
}

li span, li:after{
    content: '';
    position: absolute;
    background: transparent;
    border-radius: 50%;
    transition: all 500ms ease;
}

li span {
    left: -5px;
    top: -14px;
    width: 10px;
    height: 10px;
}

li:after{
    top: -18px;
    left: -9px;
    width: 16px;
    height: 16px;
    border: 1px solid white;
}

.selected {
    background: #ff363a;
}

li:hover span {
    background: #40dd69;
}

li:last-child{
    height: 0;
}

li p {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: -36px;
    padding-left: 40px;
    left: -16px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: lighter;
    color: #ffffff;
    transition: all 500ms ease;
}

li:hover p {
    display: block;
    opacity: 1;
    transition: all 500ms ease;
}


#switch {
    display: none;
    border: 2px solid rgba(187, 187, 187, 1);
    position: fixed;
    top: 50px;
    left: 80vw;
    width: 60px;
    height: 24px;
    outline: none;
    border-radius: 12px;
    background: transparent;
}

#switch:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 14px;
    background: #ff9f04;
    border-radius: 7px;
    top: 3px;
}

.activate#switch:before {
    background: #60da05;;
    left: 3px;
}

*::-webkit-scrollbar, *::-webkit-scrollbar:vertical {
    height: 0px;
    width: 0px;
}