* {
    transition: all 1s ease;
}

body {
    background-color: #1c1c1c;
    perspective: 500px;
    overflow: hidden;
    margin: 0;
    transition: all 1s ease;
}

.flex-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********** Фон ***********/
.background {
    width: 200%;
    height: 200vh;
    position: absolute;
    left: -200px;
    top: -200px;
    opacity: 0.6;
    transition: transform 1s ease-out;
}

#vignette-background {
    z-index: 1;
    top: -50vh;
    left: 0;
    width: 100vw;
    background: radial-gradient(farthest-side, transparent, black);
}

.black {
    background: url("../../Resume/source/white.png");
}

.white {
    background: url("../../Resume/source/black.png");
}

.black, .white {
    background-repeat: repeat;
    background-size: 100px;
}

/*******************************/

/********** Контент **************/
.black-text {
    color: #1c1c1c;
}

.white-text {
    color: white;
}

main { /*главный блок*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    text-align: right;
    text-transform: uppercase;
    font-family: Roboto, serif;
    flex-direction: column;
}

main > div { /*блоки категорий*/
    width: 100%;
    position: relative;
    flex-direction: column;
}

.container { /*блок наполнения*/
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.container > div { /*подблоки наполнения*/
    margin: 0 20px;
    min-width: 270px;
    width: 30%;
}

.title-page { /*заголовок блока*/
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bold;
    font-size: 3vw;
}

/********** Первый блок **************/
/*main > div:nth-child(1) .header-block h1 {*/
    /*margin: 5px;*/
    /*font-size: 50px;*/
/*}*/

/*main > div:nth-child(1) .header-block p {*/
    /*margin: 5px;*/
    /*font-size: 20px;*/
/*}*/

main > div:nth-child(1) .description-block {
    justify-content: center;
    width: 100%;
    min-width: 100%;
}

main > div:nth-child(1) .description {
    width: 50%;
    flex-direction: column;
}

main > div:nth-child(1) .description ul {
    margin: 0;
    padding: 0;
    direction: ltr;
    flex-direction: row;
}

main > div:nth-child(1) .description ul li p {
    margin: 0;
    padding: 5px 15px;
    font-size: 30px;
    font-family: Roboto, serif;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #3d3d3d;
}

main > div:nth-child(1) .description ul li:after {
    display: none;
}
/*******************************/

.header-block h1 {
    margin: 5px;
    font-size: 50px;
}

.header-block p {
    margin: 5px;
    font-size: 20px;
}

.photo {
    min-height: 50vh;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    /*box-shadow: 0 0 15px #9d9e9e;*/
    /*border: 3px solid white;*/
}

.description {
    width: 100%;
    height: 100%;
}

.description ul {
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
}

.description li {
    margin: 5px;
    width: auto;
    text-align: right;
    position: relative;
    height: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
}

.description li span, li:after {
    content: '';
    position: absolute;
    background: transparent;
    border-radius: 50%;
}

.description li span {
    left: -5px;
    top: -14px;
    width: 10px;
    height: 10px;
}

.description li:after {
    top: 2px;
    right: -26px;
    width: 16px;
    height: 16px;
    border: 1px solid white;
}

.description li a {
    text-decoration: none;
    color: #1c1c1c;
}

.description li a:hover {
    text-shadow: #1c1c1c 0 0 5px;
    transform: scaleX(1.5);
}

.description li p {
    font-family: 'Open Sans';
    text-transform: uppercase;
    /*/font-weight: bold;*/

}

/*.content:nth-child(2n+1) p{*/
/*color: rgb(255, 255, 255);*/
/*}*/
/*******************************/

/**********Nav-menu*************/

/*
#clicked {
    width: 150px;
    height: 150px;
    transform: scale(0);
    opacity: 0.1;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transition: all 2000ms ease;
}

#navig {
    display: none;
    opacity: 0.8;
    width: 150px;
    height: 150px;
    position: absolute;
    flex-wrap: wrap;
    background: #3e4040;
    border-radius: 50%;
    box-shadow: 0 0 15px greenyellow;
}

#navig:after {
    z-index: 5;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    border: 2px solid #888888;
    background: #3e4040;
}

#navig span {
    border: 1px solid #888888;
    width: calc(50% - 2px);
    height: calc(50% - 2px);
}

#navig span:nth-child(1) {
    background: url("../source/home.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 100% 0 0 0;
}

#navig span:nth-child(1):hover {
    transform: translateX(-5px) translateY(-5px) scale(1.1);
}

#navig span:nth-child(2) {
    border-radius: 0 100% 0 0;
}

#navig span:nth-child(2):hover {
    transform: translateX(5px) translateY(-5px) scale(1.1);
}

#navig span:nth-child(3) {
    border-radius: 0 0 0 100%;
}

#navig span:nth-child(3):hover {
    transform: translateX(-5px) translateY(5px) scale(1.1);
}

#navig span:nth-child(4) {
    border-radius: 0 0 100% 0;
}

#navig span:nth-child(4):hover {
    transform: translateX(5px) translateY(5px) scale(1.1);
}

#navig span:hover {
    background-color: #5c5e5e;
    transition: all 500ms ease;
    z-index: 4;
}*/

.control {
    z-index: 3;
}

#wrapper {
    flex-direction: column;
    position: fixed;
    width: 70px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    perspective: none;
}

#wrapper > div:nth-child(1) {
    width: 100%;
    height: 10%;
    display: none;
}

#wrapper > div:nth-child(2) {
    width: 100%;
    height: 90%;
}

#wrapper > div > span {
    opacity: 0.4;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(0.8);
    background: transparent;
    border: 1px solid white;
    z-index: 4;
}

#wrapper > div > span:before, #wrapper > div > span:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    top: 6px;
    left: 20px;
    transform: rotateZ(-45deg);
    background: #40dd69;
    transition: top 1s, left 1s, transform 1s ease;
}

#wrapper > div > span:after {
    top: 17px;
    left: 20px;
    transform: rotateZ(45deg);
}

.list-menu {
    opacity: 0.4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-menu:hover {
    opacity: 1;
    transform: translateX(10px);
}

.list-menu li {
    position: relative;
    height: 100%;
    width: 1px;
    cursor: pointer;
    background-color: #ffffff;
    /*border-right: 1px solid white;*/
    margin-top: 9px;
    margin-bottom: 9px;
}

.list-menu li span, .list-menu li:after {
    content: '';
    position: absolute;
    background: transparent;
    border-radius: 50%;
    transition: all 500ms ease;
}

.list-menu li span {
    left: -5px;
    top: -14px;
    width: 10px;
    height: 10px;
}

.list-menu li:after {
    top: -18px;
    left: -9px;
    width: 16px;
    height: 16px;
    border: 1px solid white;
}

.list-menu .selected {
    background: #ff363a;
}

.list-menu li:hover span {
    background: #40dd69;
}

.list-menu li:last-child {
    height: 0;
}

.list-menu li p {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: -36px;
    padding-left: 40px;
    white-space: nowrap;
    left: -16px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: lighter;
    color: #ffffff;
    transition: all 500ms ease;
}

.list-menu li:hover p {
    display: block;
    opacity: 1;
    transition: all 500ms ease;
}
/*
#switch {
    display: none;
    border: 2px solid rgba(187, 187, 187, 1);
    position: fixed;
    top: 50px;
    left: 80vw;
    width: 60px;
    height: 24px;
    outline: none;
    border-radius: 12px;
    background: transparent;
}

#switch:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 14px;
    background: #ff9f04;
    border-radius: 7px;
    top: 3px;
}

.activate#switch:before {
    background: #60da05;;
    left: 3px;
}
*/
*::-webkit-scrollbar, *::-webkit-scrollbar:vertical {
    height: 0px;
    width: 0px;
}