<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="style/style.css" rel="stylesheet">
    <link href="style/mobileStyle.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="navBar">
    <nav>
        <div class="logo" @click="revers" @mouseover="imgOver" @mouseout="imgOut"><img v-bind:src="logoSrc"></div>
        <ul>
            <li v-for="navItem in navItems">
                <a v-bind:href="navItem.href">{{ navItem.text }}</a>
            </li>
        </ul>
        <div class="nav-toggle"><span></span></div>
        <div class="basket"><img v-bind:src="basketSrc"><span class="counter">{{countOrder}}</span></div>
    </nav>
</div>

<div id="contentBlock">
    <div id="formViewer" v-if="seen" @click="viewMore">
        <img v-bind:src="licenses[id].src" v-bind:alt="licenses[id].description">
    </div>
    <div>
        <h1>О нас</h1>
        <div class="container">
            <section id="descriptionBlock">
                <p style="text-align: center">
                    Гречиху биологи относят к растениям семейства гречишных. Цветение начинается, как правило, в конце
                    июня - июле месяце, самый разгар медосбора длится примерно две-три недели. Пчелы активно летают на
                    обильно выделяющие нектар белые и розовые цветы.
                </p>

                <p style="text-align: center">
                    Гречишный мед имеет насыщенный густой аромат цветов гречихи, и терпкий вкус. Его нельзя спутать ни с
                    каким другим сортом меда. Очень часто, снимая пробу, можно ощутить небольшое жжение (першение) в
                    нёбе. Такой эффект объясняется ярко выраженными антибактериальными свойствами мед
                </p>
            </section>
            <section id="licenseBlock">
                <div>
                    <div v-bind:class="license.class" class="minimal" v-for="license in licenses" v-bind:style="{display: license.display}" >
                        <img @click="openLicense(licenses.indexOf(license))" v-bind:src="license.src" v-bind:alt="license.description">
                    </div>
                </div>
                <button @click="viewMore">{{textBtn}}</button>
            </section>
        </div>
    </div>
</div>

<div id="catalogBlock">
    <item v-for="catalog in catalogs" v-bind:cat="catalog" v-bind:key="catalog.id"></item>
</div>
<script src="script/script.js"></script>
</body>
</html>